footer {
  border-top: 1px solid var(--main-border-color);
  padding: 1rem 0rem;
  color: var(--dark-text-color);
  background-color: var(--mid-background-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  cursor: default;
  margin-top: auto;
  width: 100%;
}

@media only screen and (max-width: 900px) {
}