/*
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&display=swap');
*/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0rem;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
  transition: all 0.3s ease-in-out;
  font-family: brandon-grotesque, monospace;
}

:root {
  background-color: rgb(9, 11, 20);
  color: whitesmoke;

  --screen-width-boundary: 900px;

  --main-text-color: whitesmoke;
  --mid-text-color: rgb(154, 162, 170);
  --dark-text-color: rgb(94, 105, 116);

  --main-border-color: rgb(34, 34, 37);

  --mid-background-color: rgb(11, 14, 24);
  --dark-background-color: rgb(9, 11, 20);

  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
  min-height: 0rem;
  min-width: 0rem;
}

