.main {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 1rem;
  margin: 10rem 0rem 10rem 0rem;
  transition: all 0.3s ease-in-out;
  cursor: default;
  width: 50%;
}

.h1 {
  font-size: 3rem;
  margin: 1rem 0rem 0rem 0rem;
  transition: all 0.3s ease-in-out;
}

.centreText {
  text-align: center;
  font-size: 1.4rem;
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 900px) {
  .main {
    margin-top: 1rem;
    width: 90%;
  }

  .h1 {
    font-size: 2rem;
  }

  .centreText {
    font-size: 1rem;
  }

  .row {
    column-gap: 1rem;
  }
}